build
doom.x86
doom.x86_64
*.so
scons.signatures.dblite
site.conf
*.pyc
*.o
*.lo
cscope.*
.*.sw*
core*
*.user
*.sdf
*.opensdf
neo/ipch
*.suo
.DS_Store
*.pbxuser
*.perspective
*.perspective3
*.mode1v3
*.mode2v3
*.tm_build_errors
*.pyc
*.xcuserdatad
*.xcworkspacedata
